.profile {
  background-color: rgba(255, 255, 255, 0.05);;
  display: flex;
  align-items: center;
  border-radius: 8px;
  max-width: 650px;
  margin: 0 auto !important;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 16px !important;
}

.profile .info {
  margin: 16px;
  text-align: left;
}

.profile .pgp-key {
  font-family: "Roboto Mono";
  font-size: 15px;
  color: gray;
}
