<header>
  <div class="logo-container">
    <a href="/">
      <img
        class="logo"
        src="/assets/face.jpg"
        alt="Noah Loomans"
        width="150"
        height="150">
    </a>
    <div class="dotted-line"></div>
  </div>
  <div class="title">
    <div class="name">Noah Loomans</div>
    <div class="menu">
      <ul class='no-markdown'>
        <li>menu := []string{</li>
        <li><a href="/">"Home"</a><span class="comma">,</span></li>
        <li><a href="/projects/">"Projects"</a><span class="comma">,</span></li>
        <li><a href="/tutorials/">"Tutorials"</a><span class="comma trailing-comma">,</span></li>
        <li>}</li>
      </ul></div>
  </div>
</header>
