h1, h2, h3 {
  font-size: 1em;
  font-weight: bold;
}

h1::before {
  content: '# ';
}

h2::before {
  content: '## ';
}

h3::before {
  content: '### ';
}

ul:not(.no-markdown) {
  list-style-type: none;
  padding-left: 0;

  li::before {
    content: '\00a0- ';
  }
}

code {
  color: red;

  &::before, &::after {
    content: '`';
  }
}

pre {
  background-color: lightgray;
  overflow-x: auto;

  code {
    color: initial;

    &::before, &::after {
      display: block;
      content: '```';
    }
  }
}

blockquote {
  color: green;
  position: relative;

  &::before {
    position: absolute;
    left: -1.5em;
    content: '> ';
  }
}
