h1, h2, h3 {
  font-size: 1em;
  font-weight: bold;
}

h1::before {
  content: '# ';
}

h2::before {
  content: '## ';
}

h3::before {
  content: '### ';
}

ul:not(.no-markdown) {
  list-style-type: none;
  padding-left: 0;

  li::before {
    content: '\00a0- ';
  }
}

code {
  color: var(--color-code);

  &::before, &::after {
    content: '`';
  }
}

pre {
  background-color: var(--color-pre-code-bg);
  overflow-x: auto;
  padding: 8px;

  code {
    color: inherit;

    &::before, &::after {
      display: block;
      content: '```';
      color: grey;
    }
  }
}

blockquote {
  color: var(--color-quote);
  position: relative;

  &::before {
    position: absolute;
    left: -1.5em;
    content: '> ';
  }
}
