---
---

$page-width: 840px;
$logo-width: 150px;
$page-padding-between: 40px;

@import 'normalize';
@import 'header';
@import 'markdown';
@import 'projects';
@import 'responsive';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 16px;
  color: #212121;
  word-wrap: break-word;
}

main, footer {
  padding-left: $logo-width + $page-padding-between;
  max-width: $page-width;
  margin: 0 auto;
}

main {
  margin-top: 32px;
  line-height: 20px;
}

footer {
  color: #757575;
  font-style: italic;
  padding-top: 16px;
  padding-bottom: 16px;

  a {
    color: inherit;
    &:hover, &:focus {
      background-color: inherit;
      text-decoration: underline;
    }
  }
}

a {
  text-decoration: none;
  color: #1a0dab;
  outline: none;

  &:hover, &:focus {
    background-color: #ececec;
  }
}
