<header>
  <div class="logo-container">
    <a href="{{ "/" | relativize_url }}">
      <img src="{{ "/assets/face.jpg" | relativize_url }}" alt="Noah Loomans" class="logo">
    </a>
    <div class="dotted-line"></div>
  </div>
  <div class="title">
    <div class="name">Noah Loomans</div>
    <div class="menu">
      <ul class='no-markdown'>
        <li>const menu = [</li>
        <li><a href="{{ "/" | relativize_url }}">'Home'</a>,</li>
        <li><a href="{{ "/projects/" | relativize_url }}">'Projects'</a>,</li>
        <li><a href="{{ "/random-projects/" | relativize_url }}">'Random Projects'</a>,</li>
        <li><a href="{{ "/badges/" | relativize_url }}">'Badges'</a></li>
        <li>]</li>
      </ul></div>
  </div>
</header>
