{% include relBase.html %}
<header>
  <div class="logo-container">
    <a href="{{relBase}}">
      <img src="{{relBase}}assets/face.jpg" alt="Noah Loomans" class="logo">
    </a>
    <div class="dotted-line"></div>
  </div>
  <div class="title">
    <div class="name">Noah Loomans</div>
    <div class="menu">
      <ul class='no-markdown'>
        <li>const menu = [</li>
        <li><a href="{{relBase}}">'Home'</a>,</li>
        <li><a href="{{relBase}}projects/">'Projects'</a>,</li>
        <li><a href="{{relBase}}random-projects/">'Random Projects'</a>,</li>
        <li><a href="{{relBase}}badges/">'Badges'</a></li>
        <li>]</li>
      </ul></div>
  </div>
</header>
