---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page">
      <main>
        {% if page.unlisted %}
        <p class="notice">
          <strong>Pppst!</strong> You are viewing an unlisted article. Do not share it with others.
        </p>
        {% endif %}
        <div class="markdown" lang="{{ page.lang }}">
          <h1>
            {{ page.title }}
            <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
          </h1>
          {{ content }}
        </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
