---
---

$page-width: 900px;
$logo-width: 150px;
$logo-width-small: 100px;
$page-padding-between: 40px;

:root {
  --color-background: #1e1e1e;
  --color-text: white;
  --color-link: lightgreen;
  --color-link-hover-bg: #3e3e3e;
  --color-code: pink;
  --color-pre-code-bg: black;
  --color-quote: lightblue;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: white;
    --color-text: #212121;
    --color-link: #1a0dab;
    --color-link-hover-bg: #ececec;
    --color-code: #ff4444;
    --color-pre-code-bg: #f8f8f8;
    --color-quote: purple;
  }
}

@import 'normalize';
@import 'fonts';
@import 'header';
@import 'markdown';
@import 'responsive';
@import 'random-project';
@import 'credly-widget';
@import 'highlight';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 16px;
  background-color: var(--color-background);
  color: var(--color-text);
  word-wrap: break-word;
}

.page main, footer {
  padding-left: $logo-width + $page-padding-between;
  max-width: $page-width;
  margin: 0 auto;
}

.page main {
  margin-top: 32px;
  line-height: 20px;
}

footer {
  color: #757575;
  font-style: italic;
  padding-top: 16px;
  padding-bottom: 16px;

  a {
    color: inherit;
    &:hover, &:focus {
      background-color: inherit;
      text-decoration: underline;
    }
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;

  &:hover, &:focus {
    background-color: var(--color-link-hover-bg);
  }
}

img.center {
  display: block;
  margin: 0 auto;
}

.grow {
  flex-grow: 1;
}
